<style>
    .activity {
        background-color: #e8e8e8;
        border: 1px solid black;
    }
    
    .activity button {
        padding: 0 5px 0 5px;
        margin-bottom: 10px;
    }
</style>
<div class="col-sm-12 ">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> {{activity.name}}</h5>
            <p>Date: {{activity.date}}</p>
            <p>From: {{activity.start_time}} </p>
            <p>Duration: {{activity.dur_str}} </p>

            <!-- if the user is parent then -->
            {% if userrole is 2 %}
            <button data-toggle="modal" data-target="#driving-time-modal" onclick="calcDistance($('#originInput').val())" class="btn btn-secondary float-left ">View Driving Time</button><br><br>
            <p><b>Please enter your current location in the form below: </p></b> {% if user.myChildren.count > 0 %}
                <input size="100" style="position:absolute;top:245px" id="originInput" name="origin" type="text" />

                <!-- if the user has kids then -->
                <button data-toggle="dropdown " class="btn btn-primary float-right ">Enroll My Child <i class="fa fa-caret-down "></i></button>
                <div style='background:transparent;border:none;' class="dropdown-menu ">
                    {% for child in user.myChildren.all %}
                    <form method="post ">
                        {%csrf_token%}
                        <input name="childId " value="{{child.id}} " type="hidden ">
                        <input name="activityId " value="{{activity.id}} " type="hidden ">
                        <button type='submit' class="btn mb-1 btn-outline-secondary ">{{child.name}}</button >
                                </form>
    
                            {% endfor %}                            
                        </div>
                        {% else %}
                        <button disabled class="btn btn-primary float-right ">You do not have any kids in your account</button> {% endif %} {% endif %} {%if userrole is 1%}

                        <div class="button-group ">
                            <button onclick="makeUserSupervisor({{activity.id}},$(this)) " class="btn btn-outline-secondary superviseBtn ">{%for myActivity in user.myActivities.all %}{%if myActivity.id == activity.id%} you are a supervisor{%endif%}{%endfor%}</button>

                            <button data-toggle="dropdown " class="btn btn-secondary float-right ">Actions <i class="fa fa-caret-down "></i></button>
                            <div style='background:transparent;border:none;' class="dropdown-menu ">

                                <a class="btn mb-1 btn-outline-secondary " data-toggle="modal " data-target="#update-activity-modal-{{ activity.id}} "><i class="fas fa-edit "></i> Update</a><br> {% include 'update-activity-modal.html' %}

                                <a class="btn btn-danger " data-toggle="modal " data-target="#removeActivityModal-{{activity.id}} "><i class="fas fa-trash "></i> Remove</a> {% include 'remove-activity-modal.html' %}



                            </div>
                        </div>
                        {% endif %}
                </div>
        </div>
    </div>

    {%include 'driving-time-modal.html'%}